  *, :root, button {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    letter-spacing: -0.2px;
  } 

  body {
    background-color: #f1efe5;
  }

  .container {
    padding: 0.5rem;
  }

  .header {
    flex: 1;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .header-content-left {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .header-content-right {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .header-content-left-arrow-down {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.25rem;
  }

  .header-content-right-new {
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
  }

  .header-content-right-avatar {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.25rem;
    border-radius: 50%;
  }

  main {
    background-color: #FFF;
    min-height: 100vh;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 1.5rem 1rem;
  }

  main > div p {
    background-color: #DDD;
    border-radius: 40%;
    width: 70px;
    height: 70px;
    text-indent: -99999px;
    display: block;
    overflow: hidden;
  }

  .titulo {
    margin-bottom: 1rem;
  }

  .grid-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto auto;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    position: fixed;
    bottom: 0px;
  }

  .footer-left-button {
    background-color: #F2F2F2;
    border-radius: 15px;
    border: 0;
    padding: 0.3rem 1rem;
  }

  .footer-left-button-text {
    color: #db655f;
    margin-left: 0.5rem;
  }

  .footer-right {
    margin-left: 8.5rem;
  }

  .footer-right-button {
    background-color: #F2F2F2;
    border: 0;
    border-radius: 50%;
    padding: 0.5rem;
    width: 30px;
    height: 30px;
  }